<!DOCTYPE html>
<html lang="en" ng-app="nikita-fonds">
<head>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/experimental/javascripts/fonds.js"></script>
    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>Liste av alle arkiv i Nikita</title>
</head>
<body ng-controller="FondsController">
<h2>Opprett Nytt arkiv</h2>
<form ng-submit="send_form()" ng-controller="FondsController" method="post">
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="tittel" ng-model="tittel" type="text" name="tittel" />
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="beskrivelse" ng-model="beskrivelse" type="text" name="beskrivelse" />
        </div>
    </div>
    <div class="form-actions col-xs-offset-2 col-xs-10">
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Opprett arkiv" />
    </div>
</form>
<h1>Liste av alle arkiv i Nikita</h1>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>tittel</th>
        <th>beskrivelse</th>
        <th>status</th>
        <th>arkivdeler</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="fond in fonds" class="mdl-data-table__cell--non-numeric">
        <td class="mdl-data-table__cell--non-numeric">
            {{ fond.tittel }}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{ fond.beskrivelse }}
        </td>
        <td class="mdl-data-table__cell--non-numeric" ng-click="hrefSelected(l.href)">
            {{ fond.arkivstatus }}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            <div ng-repeat="l in fond._links">
                <div  ng-if="l.rel == 'http://rel.kxml.no/noark5/v4/api/arkivstruktur/arkivdel/' ">
                    <div ng-click="seriesSelected(l.href, fond.systemID)">
                        arkivdeler
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
