<!DOCTYPE html>
<html>
<head>
    <script src="/experimental/javascripts/config.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>

    <script src="/experimental/javascripts/registryentry.js"></script>

    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body ng-app="nikita-registry-entry" ng-controller="RegistryEntryController">
<h4>Journalpost</h4>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th>dokumentetsDato</th>
                <th>journaldato</th>
                <th>tittel</th>
                <th>journalposttype</th>
            </tr>
            </thead>
            <tbody>
            <tr class="mdl-data-table__cell--non-numeric">

                <td class="mdl-data-table__cell--non-numeric">
                    {{ record.dokumentetsDato }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ record.journaldato }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ record.tittel }}
                </td>

                <td class="mdl-data-table__cell--non-numeric">
                    {{ record.journalposttype }}
                </td>
            </tr>
            </tbody>
        </table>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <table ng-if="record.documentDescription" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th>dokumenttype</th>
                <th>dokumentstatus</th>
                <th>tittel</th>
                <th>tilknyttetRegistreringSom</th>
            </tr>
            </thead>
            <tbody ng-repeat="documentDescription in record.documentDescription">
            <tr ng-click="documentSelected(documentDescription)" class="mdl-data-table__cell--non-numeric">
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.dokumenttype }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.dokumentetsDato }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.tittel }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.tilknyttetRegistreringSom }}
                </td>
                <td>
                </td>
            </tr>
            </tbody>
            </tr>
        </table>
</table>
<div class="mdl-grid-center">
    <button ng-click="newDocumentSelected(record)" class="mdl-button mdl-button--raised mdl-button--colored">
        Nytt dokument
    </button>
</div>

<hr>
<p>Denne webklient er del av
    <a href="https://github.com/HiOA-ABI/nikita-noark5-core/">Nikita
        Noark 5 kjerne</a>, en fri programvareimplementasjon av Noark 5
    Tjenestegrensesnitt.</p>

</body>
</html>
