<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/experimental/javascripts/config.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>

    <script src="/experimental/javascripts/new_registryentry.js"></script>

    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Opprett ny journalpost</title>
</head>
<body ng-app="nikita-new-registry-entry" ng-controller="NewRegistryEntryController">


<h4>Opprett nytt dokument</h4>


"" : "Associated with record as"
<form ng-submit="send_form()" method="post">
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="dokumenttype" ng-model="dokumenttype" type="text"
                   name="dokumenttype"/>
        </div>
    </div>
    <div class="mdl-grid-center">

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="tittel" ng-model="tittel" type="text"
                   name="tittel"/>
        </div>
    </div>
    <div class="mdl-grid-center">

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="dokumentstatus" ng-model="dokumentstatus" type="text"
                   name="dokumentstatus"/>
            <select class="mdl-textfield__input" id="dokumentstatus" name="dokumentstatus">
                <option value="B">Dokumentet er under redigering</option>
                <option value="F">Dokumentet er ferdigstilt</option>
            </select>
            <label class="mdl-textfield__label" for="dokumentstatus">dokumentstatus</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="tilknyttetRegistreringSom" name="tilknyttetRegistreringSom">
                <option value="H">Hoveddokument</option>
                <option value="V">Vedlegg</option>
            </select>
            <label class="mdl-textfield__label" for="tilknyttetRegistreringSom">tilknyttetRegistreringSom</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="dokumenttype" ng-model="dokumenttype" type="text"
                   name="dokumenttype"/>
            <select class="mdl-textfield__input" id="dokumenttype" name="dokumenttype">
                <option value="B">Brev</option>
                <option value="R">Rundskriv</option>
                <option value="F">Faktura</option>
                <option value="O">Ordrebekreftelse</option>
            </select>
            <label class="mdl-textfield__label" for="dokumentstatus">dokumentstatus</label>
        </div>
    </div>
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="journalaar" ng-model="journalaar" type="number"
                   name="journalaar"/>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="journalpostnummer" ng-model="journalpostnummer"
                   type="number" name="journalpostnummer"/>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="journalsekvensnummer" ng-model="journalsekvensnummer"
                   type="number" name="journalsekvensnummer"/>
        </div>
    </div>
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="dokumentetsDato" ng-model="dokumentetsDato" type="text"
                   name="dokumentetsDato"/>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" placeholder="journaldato" ng-model="journaldato"
                   type="text" name="journaldato"/>
        </div>
    </div>
    <div class="form-actions col-xs-offset-2 col-xs-10">
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               value="Ny journalpost"/>
    </div>
</form>


<hr>
<p>Denne webklient er del av
    <a href="https://github.com/HiOA-ABI/nikita-noark5-core/">Nikita
        Noark 5 kjerne</a>, en fri programvareimplementasjon av Noark 5
    Tjenestegrensesnitt.</p>

</body>
</html>
