<!DOCTYPE html>
<html lang="nb" ng-app="nikita-fonds">
<head>
    <meta charset="UTF-8">
    <script src="/dependencies/internal/config.js"></script>
    <script src="/dependencies/external/jQuery-2.2.4/jquery-2.2.4.min.js"></script>
    <script src="/dependencies/external/angular-1.6.4/angular.min.js"></script>
    <script src="/dependencies/internal/common_functionality.js"></script>
    <script src="/dependencies/internal/fonds.js"></script>
    <script src="/dependencies/external/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="/dependencies/external/material-design-lite//material.min.css">
    <meta charset="UTF-8">
    <title ng-show="showCreateFonds">Opprett nytt arkiv</title>
    <title ng-show="!showCreateFonds">{{ fond.tittel }}</title>
</head>

<body ng-controller="FondsController">

<h2 ng-show="showCreateFonds">Opprett nytt arkiv</h2>

<div ng-include="'breadcrumb.html'"></div>
<label>Arkiv</label>
<div>
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="systemID" class="mdl-textfield__input" type="text"
                   value="{{fond.systemID}} " disabled/>
            <label class="mdl-textfield__label" for="systemID">systemID</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="tittel" class="mdl-textfield__input" type="text"
                   value="{{fond.tittel}} "/>
            <label class="mdl-textfield__label" for="tittel">tittel</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="beskrivelse" class="mdl-textfield__input" type="text"
                   value="{{fond.beskrivelse}} "/>
            <label class="mdl-textfield__label" for="beskrivelse">beskrivelse</label>
        </div>
    </div>
    <div>
        <div id="arkivstatusDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select id="arkivstatus" class="mdl-textfield__input" ng-model="selectedFondsStatus">
                <option ng-selected="{{value.value == selectedFondsStatus}}"
                        ng-repeat="value in fondsStatusList"
                        value="{{value.value}} ">{{value.value}}
                </option>
            </select>
            <label class="mdl-textfield__label" for="arkivstatus">arkivstatus</label>
        </div>
    </div>
    <div>
        <div id="dokumentMediumDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select id="dokumentMedium" class="mdl-textfield__input" ng-model="selectedDocumentMedium">
                <option ng-selected="{{value.value == selectedDocumentMedium}}; documentMedium_selected()"
                        ng-repeat="value in documentMediumList"
                        value="{{value.value}} ">{{value.value}}
                </option>
            </select>
            <label class="mdl-textfield__label" for="dokumentMedium">dokumentMedium</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="oppbevaringsSted" class="mdl-textfield__input" type="text"
                   value="{{fond.oppbevaringsSted}} " ng-show="oppbevaringsStedDisabled"/>
            <label class="mdl-textfield__label" for="oppbevaringsSted">oppbevaringsSted</label>
        </div>
    </div>

    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="opprettetAv" class="mdl-textfield__input" type="text"
                   value="{{fond.opprettetAv}} " disabled/>
            <label class="mdl-textfield__label" for="opprettetAv">opprettetAv</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="opprettetDato" class="mdl-textfield__input" type="text"
                   value="{{fond.opprettetDato}} " disabled/>
            <label class="mdl-textfield__label" for="opprettetDato">opprettetDato</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="avsluttetAv" class="mdl-textfield__input" type="text"
                   value="{{fond.avsluttetAv}} " disabled/>
            <label class="mdl-textfield__label" for="avsluttetAv">avsluttetAv</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="avsluttetDato" class="mdl-textfield__input" type="text"
                   value="{{fond.avsluttetDato}} " disabled/>
            <label class="mdl-textfield__label" for="avsluttetDato">avsluttetDato</label>
        </div>
    </div>
    <div ng-show="!showCreateFonds" class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="post_or_put_fonds()">
            Oppdater arkiv
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="series_list_selected()">
            Se arkivdeler
        </button>
    </div>
    <div ng-show="showCreateFonds" class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="post_or_put_fonds()">
            Opprett arkiv
        </button>
    </div>

</div>
<div>
    <label>Arkivskaper</label>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="arkivskaperId" class="mdl-textfield__input" type="text"
                   value="{{fondsCreator.arkivskaperId}} "/>
            <label class="mdl-textfield__label" for="arkivskaperId">arkivskaperId</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="arkivskaperNavn" class="mdl-textfield__input" type="text"
                   value="{{fondsCreator.arkivskaperNavn}} "/>
            <label class="mdl-textfield__label" for="arkivskaperNavn">arkivskaperNavn</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="fondsCreatorBeskrivelse" class="mdl-textfield__input" type="text"
                   value="{{fondsCreator.beskrivelse}} "/>
            <label class="mdl-textfield__label" for="beskrivelse">beskrivelse</label>
        </div>
    </div>
    <div ng-show="!showCreateFonds" class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="post_or_put_fonds()">
            Oppdater arkivskaper
        </button>
    </div>
    <div ng-show="showCreateFonds" class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="post_or_put_fonds()">
            Opprett arkivskaper
        </button>
    </div>
</div>
<hr>
<div ng-show="display_footer_note" footer></div>
</body>
</html>
