<!DOCTYPE html>
<html lang="nb" ng-app="nikita-series" ng-controller="SeriesController">
<head>
    <script src="/dependencies/internal/config.js"></script>
    <script src="/dependencies/external/jQuery-2.2.4/jquery-2.2.4.min.js"></script>
    <script src="/dependencies/external/angular-1.6.4/angular.min.js"></script>
    <script src="/dependencies/internal/common_functionality.js"></script>
    <script src="/dependencies/internal/series.js"></script>
    <script src="/dependencies/external/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="/dependencies/external/material-design-lite//material.min.css">
    <meta charset="UTF-8">
    <title>nikita-noark5</title>
</head>
<body>

<h2 ng-show="createSeries">Opprett ny arkivdel</h2>
<h2 ng-show="!createSeries">Se arkivdel</h2>

<div ng-include="'arkiv_breadcrumb.html'"></div>

<div>
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="fondsTittel" class="mdl-textfield__input" type="text"
                   value="{{fonds.tittel}} " disabled/>
            <label class="mdl-textfield__label" for="fondsTittel">(arkiv) tittel</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="fondsSystemID" class="mdl-textfield__input" type="text"
                   value="{{fonds.systemID}} " disabled/>
            <label class="mdl-textfield__label" for="fondsSystemID">(arkiv) systemID</label>
        </div>
    </div>
</div>

<div>
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="tittel" class="mdl-textfield__input" type="text"
                   value="{{series.tittel}} "/>
            <label class="mdl-textfield__label" for="tittel">tittel</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="systemID" class="mdl-textfield__input" type="text"
                   value="{{series.systemID}} " disabled/>
            <label class="mdl-textfield__label" for="systemID">systemID</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="beskrivelse" class="mdl-textfield__input" type="text"
                   value="{{series.beskrivelse}} "/>
            <label class="mdl-textfield__label" for="beskrivelse">beskrivelse</label>
        </div>
    </div>
    <div>
        <div id="arkivdelstatusDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select id="arkivdelstatus" class="mdl-textfield__input" ng-model="selectedSeriesStatus">
                <option ng-selected="{{value.value == selectedSeriesStatus}}"
                        ng-repeat="value in seriesStatusList"
                        value="{{value.value}}">{{value.value}}
                </option>
            </select>
            <label class="mdl-textfield__label" for="arkivdelstatus">arkivdelstatus</label>
        </div>
    </div>


    <div>
        <div id="dokumentMediumDiv" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select id="dokumentMedium" class="mdl-textfield__input" ng-model="selectedDocumentMedium">
                <option ng-selected="{{value.value == selectedDocumentMedium}}"
                        ng-repeat="value in documentMediumList"
                        value="{{value.value}}">{{value.value}}
                </option>
            </select>
            <label class="mdl-textfield__label" for="dokumentMedium">dokumentMedium</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="oppbevaringsSted" class="mdl-textfield__input" type="text"
                   value="{{series.oppbevaringsSted}} " disabled/>
            <label class="mdl-textfield__label" for="oppbevaringsSted">oppbevaringsSted</label>
        </div>
    </div>

    <div>
        <!-- TODO: Remove the \s| in pattern once mdl can autoload text properly -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="arkivperiodeStartDato" class="mdl-textfield__input" type="text"
                   pattern="^\s?|\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])[\s]?$"
                   value="{{series.arkivperiodeStartDato}} "/>
            <label class="mdl-textfield__label" for="arkivperiodeStartDato">arkivperiodeStartDato</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="arkivperiodeSluttDato" class="mdl-textfield__input" type="text"
                   pattern="^\s?|\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])[\s]?$"
                   value="{{series.arkivperiodeSluttDato}} "/>
            <label class="mdl-textfield__label" for="arkivperiodeSluttDato">arkivperiodeSluttDato</label>
        </div>
    </div>

    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="opprettetAv" class="mdl-textfield__input" type="text"
                   value="{{series.opprettetAv}} " disabled/>
            <label class="mdl-textfield__label" for="opprettetAv">opprettetAv</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="opprettetDato" class="mdl-textfield__input" type="text"
                   value="{{series.opprettetDato}} " disabled/>
            <label class="mdl-textfield__label" for="opprettetDato">opprettetDato</label>
        </div>
    </div>
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="avsluttetAv" class="mdl-textfield__input" type="text"
                   value="{{series.avsluttetAv}} " disabled/>
            <label class="mdl-textfield__label" for="avsluttetAv">avsluttetAv</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="avsluttetDato" class="mdl-textfield__input" type="text"
                   value="{{series.avsluttetDato}} " disabled/>
            <label class="mdl-textfield__label" for="avsluttetDato">avsluttetDato</label>
        </div>
    </div>
    <div ng-show="!createSeries" class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="post_or_put_series()">
            Oppdater arkivdel
        </button>
    </div>
    <div ng-show="createSeries" class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="post_or_put_series()">
            Opprett arkivdel
        </button>
    </div>

</div>
<hr>
<div ng-show="display_footer_note" footer></div>
</body>
</html>
