<!DOCTYPE html>
<html lang="nb" ng-app="nikita-fonds">
<head>
    <meta charset="UTF-8">
    <script src="/dependencies/internal/config.js"></script>
    <script src="/dependencies/external/jQuery-2.2.4/jquery-2.2.4.min.js"></script>
    <script src="/dependencies/external/angular-1.6.4/angular.min.js"></script>
    <script src="/dependencies/internal/common_functionality.js"></script>
    <script src="/dependencies/internal/fondsList.js"></script>
    <script src="/dependencies/external/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="/dependencies/external/material-design-lite//material.min.css">
    <meta charset="UTF-8">
    <title>nikita-noark5</title>
</head>

<body ng-controller="FondsListController">
<h4>Liste av alle arkiv-oppføringer som du har tilgang til</h4>
<div ng-include="'arkiv_breadcrumb.html'"></div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th>systemID</th>
        <th>tittel</th>
        <th>status</th>
        <th>opprettetDato</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="fond in fonds" ng-click="fonds_selected(fond)" class="mdl-data-table__cell--non-numeric">
        <td class="mdl-data-table__cell--non-numeric">
            {{ fond.systemID }}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{ fond.tittel }}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{ fond.arkivstatus }}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
            {{ fond.opprettetDato }}
        </td>
    </tr>
    </tbody>
</table>

<div class="mdl-grid-center">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            ng-click="fonds_selected()">
        Opprett nytt arkiv
    </button>
</div>
<hr>


<div ng-show="display_footer_note" footer></div>
</body>
</html>
