<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="/dependencies/internal/config.js"></script>
    <script src="/dependencies/external/angular-1.6.4/angular.min.js"></script>
    <script src="/dependencies/internal/common_functionality.js"></script>
    <script src="/dependencies/external/material-design-lite/material.min.js"></script>
    <script src="/dependencies/internal/document.js"></script>
    <script src="/dependencies/external/ng-file-upload-12.2.13/ng-file-upload-shim.js"></script>
    <script src="/dependencies/external/ng-file-upload-12.2.13/ng-file-upload.js"></script>
    <link rel="stylesheet" href="/dependencies/external/material-design-lite/material.min.css">
    <title>Opprett nytt dokument</title>
</head>
<body ng-app="nikita-document" ng-controller="DocumentController">


<div class="mdl-grid-center">
    <div class="mdl-grid-center">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="journalpostnummer"
                   value=" {{ registryEntry.journalpostnummer }} " disabled
                   id="journalpostnummer"/>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="tittel" value="{{ registryEntry.tittel }}" disabled/>
        </div>
    </div>
</div>


<div>
    <div>
        <div class="mdl-grid-center">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="tittel" ng-model="documentDescription.tittel" type="text"
                       name="tittel"/>
            </div>
        </div>
        <div class="mdl-grid-center">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="beskrivelse" ng-model="documentDescription.beskrivelse" type="text"
                       name="beskrivelse"/>
            </div>
        </div>
        <div class="mdl-grid-center">

            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="dokumentstatus" ng-model="documentDescription.dokumentstatus" type="text"
                       name="dokumentstatus"/>
                <select class="mdl-textfield__input" id="dokumentstatus" name="dokumentstatus">
                    <option value="B">Dokumentet er under redigering</option>
                    <option value="F">Dokumentet er ferdigstilt</option>
                </select>
                <label class="mdl-textfield__label" for="dokumentstatus">dokumentstatus</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select class="mdl-textfield__input" id="tilknyttetRegistreringSom" name="documentDescription.tilknyttetRegistreringSom">
                    <option value="H">Hoveddokument</option>
                    <option value="V">Vedlegg</option>
                </select>
                <label class="mdl-textfield__label" for="tilknyttetRegistreringSom">tilknyttetRegistreringSom</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="dokumenttype" ng-model="documentDescription.dokumenttype" type="text"
                       name="dokumenttype"/>
                <select class="mdl-textfield__input" id="dokumenttype" name="dokumenttype">
                    <option value="B">Brev</option>
                    <option value="R">Rundskriv</option>
                    <option value="F">Faktura</option>
                    <option value="O">Ordrebekreftelse</option>
                </select>
                <label class="mdl-textfield__label" for="dokumenttype">dokumenttype</label>
            </div>
        </div>
        <div class="mdl-grid-center">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="dokumentnummer" ng-model="documentDescription.dokumentnummer" type="number"
                       name="dokumentnummer"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="tilknyttetDato" ng-model="documentDescription.tilknyttetDato"
                       type="text" name="tilknyttetDato"/>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" placeholder="tilknyttetAv" ng-model="documentDescription.tilknyttetAv"
                       type="text" name="tilknyttetAv"/>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="documentObjects"
             ng-repeat="documentObject in documentObjects track by $index">
            <div class="mdl-grid-center">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" placeholder="versjonsnummer" ng-model="documentObject.versjonsnummer"
                           type="text"
                           name="versjonsnummer"/>
                </div>
            </div>
            <div class="mdl-grid-center">

                <div class="mdl-textfield mdl-js-textfield">

                    <select class="mdl-textfield__input" id="variantformat"
                            name="variantformat" ng-model="documentObject.variantformat">
                        <option value="P">Produksjonsformat</option>
                        <option value="A">Arkivformat</option>
                        <option value="O">Dokument hvor deler av innholdet er skjermet</option>
                    </select>
                    <label class="mdl-textfield__label--floating-label" for="variantformat">variantformat</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield">
                    <select class="mdl-textfield__input"  ng-model="selectedMimeType[$index]">
                        <option ng-selected= "{{value.id == selectedMimeType[$index]}}" ng-repeat="value in mimeTypeList"
                                value="{{value.id}}">{{value.value}}
                        </option>
                    </select>



                </div>

            </div>
            <div class="mdl-grid-center">

                <!--


                                    <select class="mdl-textfield__input" ng-model="selectedMimeType.beskrivelse">
                    <option ng-selected="selectedMimeType.beskrivelse == mimeType.beskrivelse"
                            ng-repeat="mimeType in mimeTypeList"
                            ng-value="mimeType.beskrivelse">{{mimeType.beskrivelse}}</option>
                    </select>

                <select class="mdl-textfield__input" id="mimeType"
                        data-ng-options="mimeType.beskrivelse for mimeType in mimeTypeList"
                        data-ng-model="">
                </select>
                <label class="mdl-textfield__label--floating-label" for="mimeType">mimeType</label>

                -->

                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" placeholder="sjekksum" ng-model="documentObject.sjekksum" type="text"
                           name="sjekksum"/>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" placeholder="sjekksumAlgoritme" ng-model="documentObject.sjekksumAlgoritme"
                           type="text"
                           name="sjekksumAlgoritme" disabled/>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <!-- TODO : This should be number!-->
                    <input class="mdl-textfield__input" placeholder="filstoerrelse" ng-model="documentObject.filstoerrelse"
                           type="text" name="filstoerrelse"/>
                </div>
            </div>

            <div class="form-actions col-xs-offset-2 col-xs-10">
                <input type="submit" ng-show="newDocument === true"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       value="Lagre dokument detaljer"/>
            </div>
        </div>
    </div>
</div>

<div ng-show="display_footer_note" footer></div>
</body>
</html>
