<!DOCTYPE html>
<html>
<head>
    <script src="/dependencies/internal/config.js"></script>
    <script src="/dependencies/external/angular-1.6.4/angular.min.js"></script>
    <script src="/dependencies/internal/common_functionality.js"></script>
    <script src="/dependencies/external/material-design-lite/material.min.js"></script>
    <script src="/dependencies/internal/breadcrumb.js"></script>
    <script src="/dependencies/internal/registryentry.js"></script>
    <link rel="stylesheet" href="/dependencies/external/material-design-lite/material.min.css">

</head>

<body ng-app="nikita" ng-controller="RegistryEntryController">
<div ng-show="display_breadcrumb" ng-include="'breadcrumb.html'"></div>
<div class="mdl-grid-center">
    <div class="mdl-grid-center">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="saksnr" class="mdl-textfield__input" type="text"
                   value=" {{ caseFile.mappeID }} " disabled/>
            <label class="mdl-textfield__label" for="saksnr">saksnummer</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="sakstittel" class="mdl-textfield__input" type="text"
                   value="{{ caseFile.tittel }}" disabled/>
            <label class="mdl-textfield__label" for="sakstittel">sakstittel</label>
        </div>
    </div>
</div>

<!-- There are two main divs on this page. The first one is used to show the details of a registryEntry, while the second
is used to create a new registryEntry. -->
<div>
    <h4 ng-show="createNewRegistryEntry">Opprett ny journalpost</h4>
    <form ng-submit="send_form()" method="post">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="registry_entry_title" class="mdl-textfield__input" type="text"
                   value=" {{ registryEntry.tittel }} " disabled/>
            <label class="mdl-textfield__label" for="registry_entry_title">tittel</label>
        </div>

        <!--        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="registry_entry_" class="mdl-textfield__input" type="text"
                           value=" {{ registryEntry. }} " disabled/>
                    <label class="mdl-textfield__label" for="registry_entry_"></label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="registry_entry_" class="mdl-textfield__input" type="text"
                           value=" {{ registryEntry. }} " disabled/>
                    <label class="mdl-textfield__label" for="registry_entry_"></label>
                </div>
        -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="registry_entry_description" class="mdl-textfield__input" type="text"
                   value=" {{ registryEntry.beskrivelse }} " disabled/>
            <label class="mdl-textfield__label" for="registry_entry_description">beskrivelse</label>
        </div>

        <div class="mdl-grid-center">
            <div id="registry_entry_type_div" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select id="registry_entry_type" class="mdl-textfield__input" ng-model="selectedRegistryEntryType">
                    <option ng-selected="{{value.value == selectedRegistryEntryType}}"
                            ng-repeat="value in registryEntryTypeList"
                            value="{{value.value}}">{{value.value}}
                    </option>
                </select>
                <label class="mdl-textfield__label" for="registry_entry_type">journalposttype</label>
            </div>
            <div id="registry_entry_status_div" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select id="registry_entry_status" class="mdl-textfield__input" ng-model="selectedRegistryEntryStatus">
                    <option ng-selected="{{value.value == selectedRegistryEntryStatus}}"
                            ng-repeat="value in registryEntryStatusList"
                            value="{{value.value}}">{{value.value}}
                    </option>
                </select>
                <label class="mdl-textfield__label" for="registry_entry_status">journalpoststatus</label>
            </div>
        </div>
        <div class="mdl-grid-center">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="registry_entry_year" class="mdl-textfield__input" type="text"
                       value=" {{ registryEntry.journalaar }} " disabled/>
                <label class="mdl-textfield__label" for="registry_entry_year">journalaar</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="registry_entry_number" class="mdl-textfield__input" type="text"
                       value=" {{ registryEntry.journalpostnummer }} " disabled/>
                <label class="mdl-textfield__label" for="registry_entry_number">journalpostnummer</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="registry_entry_sequence_number" class="mdl-textfield__input" type="text"
                       value=" {{ registryEntry.journalsekvensnummer }} " disabled/>
                <label class="mdl-textfield__label" for="registry_entry_sequence_number">journalsekvensnummer</label>
            </div>
        </div>

        <div class="mdl-grid-center">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="registry_entry_document_date" class="mdl-textfield__input" type="text"
                       value=" {{ registryEntry.dokumentetsDato }} " disabled/>
                <label class="mdl-textfield__label" for="registry_entry_document_date">dokumentetsDato</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="registry_entry_date" class="mdl-textfield__input" type="text"
                       value=" {{ registryEntry.journaldato }} " disabled/>
                <label class="mdl-textfield__label" for="registry_entry_date">journaldato</label>
            </div>
        </div>
        <div ng-show="createNewRegistryEntry" class="form-actions col-xs-offset-2 col-xs-10">
            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                   value="Lagre journalpost"/>
        </div>
    </form>
</div>

<div ng-show="!createNewRegistryEntry">
    <div ng-if="registryEntry.documentDescription">
        <div>
            <label>Dokumenter tilkoblet journalposten</label>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th>dokumenttype</th>
                <th>dokumentstatus</th>
                <th>tittel</th>
                <th>tilknyttetRegistreringSom</th>
            </tr>
            </thead>
            <!-- <tfoot>
            <tr>
                 <td>
                    <button ng-click="newDocumentSelected(registryEntry)"
                            class="mdl-button mdl-button--raised mdl-button--colored">
                        Nytt dokument
                    </button>
                 </td>
            </tr>
            </tfoot> -->
            <tbody ng-repeat="documentDescription in registryEntry.documentDescription">
            <tr ng-click="documentSelected(documentDescription)" class="mdl-data-table__cell--non-numeric">
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.dokumenttype }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.dokumentetsDato }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.tittel }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ documentDescription.tilknyttetRegistreringSom }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div ng-if=" registryEntry.korrespondansepartperson">
        <div>
            <label>Korrespondansepartperson tilkoblet journalposten</label>
        </div>
        <table
                class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th>navn</th>
                <th>korrespondanseparttype</th>
            </tr>
            </thead>
            <tfoot>
            <!-- <tr>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            ng-click="newCorrespondencePartPerson(korrespondansepartperson)">
                        Ny korrespondansepartperson
                    </button>
                </td>
            </tr>
            </tfoot> -->
            <tbody ng-repeat="korrespondansepartperson in registryEntry.korrespondansepartperson">
            <tr ng-click="correspondencePartPersonSelected(korrespondansepartperson)"
                class="mdl-data-table__cell--non-numeric">
                <td class="mdl-data-table__cell--non-numeric">
                    {{ korrespondansepartperson.navn }}
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    {{ korrespondansepartperson.korrespondanseparttype.beskrivelse }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-grid-center">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="newDocumentSelected(registryEntry)">
            Nytt dokument
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                ng-click="newCorrespondencePartPerson(registryEntry)">
            Ny korrespondansepart
        </button>
    </div>
</div>
<hr>
<div ng-show="display_footer_note" footer></div>
</body>
</html>


