<!DOCTYPE html>
<html ng-app="nikita">
  <head>
    <meta charset="UTF-8">
  <title>Innlogging</title>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="javascripts/client.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <center>
      <h1>Login inn</h1>
      <form ng-submit="send_form()" ng-controller="LoginController" method="post">
	<div class="mdl-grid-center">
	  <div class="mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input" placeholder="brukernavn" ng-model="username" type="text" name="username" />
	  </div>
	</div>
	<div class="mdl-textfield mdl-js-textfield">
	  <input class="mdl-textfield__input" placeholder="passord" ng-model="password" type="password" name="password" />
	</div>
	<div class="form-actions col-xs-offset-2 col-xs-10">
	  <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Logg inn" />
          <a class="mdl-button mdl-js-button" href="{{ sign_up_url }}">Registrering</a>
	</div>
      </form>
  </center>
</body>
</html>
