<!doctype html>
<html ng-app="nikita">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>nikita postlisteinnsyn</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="javascripts/config.js"></script>
    <script src="dependencies/internal/client.js"></script>
  </head>
  <body ng-controller="PostlisteController">
    <p><a href="login.html">logg inn</a> (Status: {{ status }})</p>
    <form ng-submit="send_form()" method="post">
      
      <p>Arkiv: <select ng-options="fond.tittel for fond in fonds" ng-model="selectedFonds" ng-change="fondsUpdate(selectedFonds)"></select>

      Arkivdel: <select ng-options="serie.tittel for serie in series" ng-model="selectedSeries" ng-change="seriesUpdate(selectedSeries)">
      </select>

	<br>Søk: <input name="search" width="30">
      </p>
      
      <table ng-if="casefiles">
	<thead>
	  <tr>
	    <th>MappeID</th>
	    <th>Opprettet dato</th>
	    <th>Offentlig tittel</th>
	  </tr>
	</thead>
	<tbody ng-repeat="entry in casefiles">
	  <tr ng-click="fileSelected(entry)">
	    <td>{{ entry.mappeID }}</td>
	    <td>{{ entry.opprettetDato }}</td>
	    <td ng-if="entry.offentligTittel">{{ entry.offentligTittel }}</td>
	    <td ng-if="!entry.offentligTittel">{{ entry.tittel }}</td>
	  </tr>
	  <tr ng-if="entry.records">
	    <td></td>
	    <td colspan="2"><div ng-repeat="r in entry.records">
		[{{ r.journalposttype }}]
		Dok.dato: {{ r.dokumentetsDato }}
		J.dato: {{ r.journaldato }}
		J.id: {{ r.journalaar }}/{{ r.journalsekvensnummer }}<br>
		<div ng-if="r.offentligTittel">{{ r.offentligTittel }}<br></div>
		<div ng-if="!r.offentligTittel">{{ r.tittel }}<br></div>
		<div ng-if="r.beskrivelse">{{ r.beskrivelse }}<br></div>
	    </div></td>
	  </tr>
	</tbody>
      </table>
      
    </form>
      <hr>
    <p>Denne webklient er del av
      <a href="https://github.com/HiOA-ABI/nikita-noark5-core/">Nikita Noark 5 kjerne</a>, en fri programvareimplementasjon av Noark 5 Tjenestegrensesnitt.</p>
  </body>
</html>
