<!doctype html>
<html ng-app="nikita">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>nikita postlisteinnsyn</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="javascripts/config.js"></script>
    <script src="javascripts/client.js"></script>
  </head>
  <body ng-controller="PostlisteController">
    <p><a href="login.html">logg inn</a> (Status: {{ status }})</p>
    <form ng-submit="send_form()" method="post">
      
      Arkiv: <select ng-options="fond.tittel for fond in fonds" ng-model="selectedFonds" ng-change="fondsUpdate(selectedFonds)"></select>

      Arkivdel: <select ng-options="serie.tittel for serie in series" name="s" ng-model="selectedSeries" ng-change="seriesUpdate(selectedSeries)">
      </select>
      
      <table ng-if="casefiles">
	<thead>
	  <tr>
	    <th>MappeID</th>
	    <th>Opprettet dato</th>
	    <th>Offentlig tittel</th>
	    <th>Adm. enhet</th>
	  </tr>
	</thead>
	<tbody ng-repeat="entry in casefiles">
	  <tr>
	    <td>{{ entry.mappeID }}</td>
	    <td>{{ entry.opprettetDato }}</td>
	    <td ng-if="entry.offentligTittel">{{ entry.offentligTittel }}</td>
	    <td ng-if="!entry.offentligTittel">{{ entry.tittel }}</td>
	    <td>{{ entry.administrativEnhet }}</td>
	  </tr>
	</tbody>
      </table>
      
    </form>
      <hr>
    <p>Denne webklient er del av
      <a href="https://github.com/HiOA-ABI/nikita-noark5-core/">Nikita Noark 5 kjerne</a>, en fri programvareimplementasjon av Noark 5 Tjenestegrensesnitt.</p>
  </body>
</html>
